*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 110px;
}

.timer-count {
float: right;

}

#question-section{
    font-size: 20px;
    text-align: center;
    padding: 35px;
}

h1 {
    font-size: 55px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.game-container {
    border: solid 5px black;
    box-shadow: 0 0 10px 3px;
    width: max-content;
    height:max-content;
}

.pop-quiz-container {
    padding: 10px;
}

#homescreen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.btn {
    font-size: 40px;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 10px;
    border: 1px solid blue;
    color: white;  
}

.btn:hover{
    color: rgb(30, 255, 0);
    border: solid 2px rgb(28, 191, 94);
    box-shadow: 0 0 10px 2px;
}

.hidden {
    display: none;
}


.choice-container {
    font-size: 20px;
    padding: 10px;
    background-color: blueviolet;
    border: 1px solid blue;
    border-radius: 10px;
    display: flex;
    margin: 20px;
    color: white;    
}

.choice-container:hover {
    color: rgb(30, 255, 0);
    border: solid 2px rgb(28, 191, 94);
    box-shadow: 0 0 10px 2px;
}

.choice-text{
    margin-left: 10px;
}